.input-braintree-cc {
    width: 200px;
    height: 40px;
}

.input-braintree-expdate {
    width: 80px;
    height: 40px;
}

.input-braintree-cvv {
    width: 60px;
    height: 40px;
}

.helper-text {
    color: #7a0026;
    font-size: 12px;
    margin-top: 5px;
    height: 12px;
    display: block;
}